html {
    font-family: 'lato', sans-serif, 'roboto';
}

body {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

header {
    padding-top: 0px;
    padding-bottom: 90px;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    margin-top: 25px;
}

#logo {
    width: 22%;
    height: 103px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
}


/* .logo {
    width: 50%;
    display: inline;
} */

#recherche {
    height: 70px;
    width: 89%;
    padding-left: 1.5%;
    border: none;
    font-size: 18px;
    background-color: #f2f1f1;
    border-radius: 5px;
    position: absolute;
    z-index: 0;
    outline: none;
}

#recherche::placeholder {
    font-size: 18px;
    color: black;
    opacity: 25%;
}

#submit {
    background-color: #f2f1f1;
    border-radius: 0px 5px 5px 0px;
    color: transparent;
    height: 68px;
    width: 5.2%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-image: url(/assets/search-solid.svg);
    background-repeat: no-repeat;
    background-size: 43%;
    background-position: center;
    position: absolute;
    margin-left: 83.5%;
    margin-top: 1px;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.select_filtre {
    margin-right: 20px;
    min-width: 110px;
    position: relative;
}

.select_filtre i {
    position: absolute;
    border: none;
    color: white;
    z-index: 1;
    right: 20px;
    top: 30px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    cursor: pointer;
}

#chevronIngredientUp {
    display: none;
    padding-bottom: 320px;
}

#chevronAppareilUp {
    display: none;
    padding-bottom: 320px;
}

#chevronUstensileUp {
    display: none;
    padding-bottom: 320px;
}

#ingredient {
    font-family: 'lato';
    font-weight: 700;
    color: white;
    font-size: 18px;
    padding-left: 20px;
    background-color: #3282F7;
    border-radius: 5px;
    border: none;
    height: 75px;
    padding-right: 4%;
    z-index: 0;
    width: 190px;
    outline: none;
}

#ingredient::placeholder {
    color: white;
}


/* #ingredient:focus::placeholder {
    opacity: 0.5;
} */

#ingredient::-webkit-search-cancel-button {
    display: none;
}

#appareil {
    font-family: 'lato';
    font-weight: 700;
    color: white;
    font-size: 18px;
    padding-left: 20px;
    background-color: #68D9A4;
    border-radius: 5px;
    border: none;
    height: 75px;
    padding-right: 4%;
    z-index: 0;
    width: 190px;
    outline: none;
}

#appareil::placeholder {
    color: white;
}


/* #appareil:focus::placeholder {
    opacity: 0.5;
} */

#appareil::-webkit-search-cancel-button {
    display: none;
}

#ustensile {
    font-family: 'lato';
    border-radius: 5px;
    font-weight: 700;
    color: white;
    padding-left: 20px;
    border: none;
    background-color: #ED6454;
    height: 75px;
    font-size: 18px;
    padding-right: 4%;
    z-index: 0;
    width: 190px;
    outline: none;
}

#ustensile::placeholder {
    color: white;
}


/* #ustensile:focus::placeholder {
    opacity: 0.5;
} */

#ustensile::-webkit-search-cancel-button {
    display: none;
}


/* .eco:hover {
    background-color: #0065FC;
    border: 2px solid transparent;
    color: #F2F2F2;
}*/

section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.9%;
    margin-right: 5%;
    margin-top: 62px;
}

.gris_fonce {
    background-color: #C7BEBE;
    height: 178px;
    border-radius: 5px 5px 0 0;
}

.recettes {
    background-color: #E7E7E7;
    width: 409px;
    border-radius: 5px;
    margin-left: 4.3%;
    margin-bottom: 50px;
    padding-bottom: 27px;
}

.p1 {
    font-family: 'lato';
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 5%;
}

.p2 {
    font-family: 'lato';
    font-size: 12px;
    font-weight: 700;
    margin-top: -12px;
    line-height: 14.4px;
}

.p3 {
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

.p4 {
    font-family: 'lato';
    font-size: 18px;
    font-weight: 700;
    margin-top: -18px;
    margin-left: 25px;
    width: 60px;
}

.ingredients_recette {
    margin-left: 5%;
    width: 50%;
    height: 100px;
}

.description {
    margin-right: 4%;
    width: 42%;
    float: right;
    margin-top: -109px;
    height: 108px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: -61px;
    margin-right: 20%;
}

@media only screen and (max-width: 1024px) {
    #logo {
        width: 30%;
        height: 80px;
    }
}